<div class="container mt-5 w-75 bg-color p-5 mb-5">
  <h2 class="mb-3">Centro de mensajes</h2>
  <form>
    <input
      class="form-control input-size-m mb-2"
      type="text"
      id="mail"
      aria-required="true"
      placeholder="Ingresá tu mail"
    />
    <div class="row g-3">
      <div class="col-auto">
        <input
          class="form-control input-size-l mb-2"
          type="text"
          id="mensaje"
          placeholder="Ingresá tu mensaje..."
        />
      </div>

      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-primary input-size-xs"
          id="botonMensaje"
        >Enviar</button>
      </div>

    </div>
  </form>
  <hr />
  <div id="mensajes">
  </div>
</div>