<div class="container mt-5 w-75">
  {{#if hayDatos}}
    <h2 class="mb-3">Lista de productos</h2>
    <table class="table  table-striped table-hover ">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Foto</th>
        </tr>
      </thead>

      <tbody>
        {{#each datos}}
          <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.precio}}</td>
            <td> <img src="{{this.link}} " style="width: 70px;height:70px;" alt="fotito" /></td>
          </tr>
        {{/each}}
      </tbody>

    </table>
    <a type="button" class="btn btn-primary" href="/">Cargar más productos</a>
  {{else}}
    <h2>No hay productos cargados</h2>
  {{/if}}
</div>